body {
    margin: 0;
    overflow: hidden;
    background-color: #1a1a1a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

h1 {
    position: absolute;
    top: 20;
}